{% extends 'base.html.twig' %}

{% block title %}Nouveau Commentaire{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Nouveau commentaire</h1>
    <form method="post" class="mt-4">

        <div class="form-group mt-3">
            <label for="contenu">Contenu</label>
            <input type="contenu" id="contenu" name="contenu" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success mt-3">Enregistrer</button>
        <a href="{{ path('fiche_show', {id: fiche.id}) }}" class="btn btn-secondary mt-3">Retour</a>
    </form>
</div>
{% endblock %}