{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    
    <section class="d-flex justify-content-center align-items-center flex-column">
        <h1>Le serveur est en maintenance veuiller patienter </h1>

        <p>
            Cela peut prendre entre 2 et 24 en fonction de la gravité de la situation.
        </p>
    </section>

{% endblock %}